
.radioLabel{
    margin-left: 6px;
    margin-right: 42px;
}
.radioGender{
    margin-right: 30px;
}

.checkboxLabel{
    margin-left: 6px;
    margin-right: 42px;
}

.submit{
    padding: 10px 45px;
    color: #fff;
    border-radius: 8px;
    background-color: #449d44;
    border-color: #398439;
}

.reset{
    padding: 10px 52px;
    color: #fff;
    border-radius: 8px;
    background-color: #c9302c;
    border-color: #ac2925;
}

.columns {
    WIDTH: 30%;
    height: 31px;
}
  
h2{
    text-align: -webkit-center;
    font-weight: bold;
    background: #0014ff9c;
    color: white;
    padding: 13px;
    font-variant: petite-caps;    
    border-radius: 5px;
}
.error{
      color:red;
      font-size: 15px;
      margin-top: 12px;
}
body{
    background: linear-gradient(135deg, #7b91d285, #e04d4d63, #e8f3493d);
}

.table{
    margin-top: 20px;
}

.textInput{
    width: 96%;
    padding: 8px;
}

tr{
    border-bottom: 1px solid #c3bebe;
   
}
th{
    width: 19%;
    padding: 24px;
    text-align: -webkit-center;
}

td {
    padding: 18px 0px;
}
.odd-tr{
    background: #dcd7d7c7;
}

.even-tr{
    background: #eae7e7c7;
}

.view-tr{
    border: 9px solid #82b9eb;
    
}
.view-th{
    background: #d8dbd9;
    color:#000000;
}
.view-td{
    padding: 0px 12px;
    background: white;
    text-align: -webkit-center;
}

thead th{
    width: auto;
    border-bottom: 3px solid #00000029;
}
table{
    box-shadow: 5px 10px 18px #888888;
}
.icon{
    font-size: 24px;
}